{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types":0,
    "no-unused-vars": ['warn', { vars: 'all', args: 'after-used', ignoreRestSiblings: true }],
    "no-trailing-spaces":1,
    "no-console":0
  }
}
